.hide-menu .widget-menu-widget {
    visibility: hidden;
}

.widget-menu-widget nav > ul > li > a > span.icon,
.widget-menu-widget header > h1 > span.icon {
    font-weight: bold;
    font-family: Consolas;
    display: inline-block;
    text-align: center;
}

.widget-menu-widget nav > ul > li > a > span.icon {
    margin-right: 2px;
    border: 1px solid #1ba1e2;
    width: 24px;
    font-size: 90%;
}
.widget-menu-widget header > h1 > span.icon {
    margin-right: 6px;
    width: 41px;
}

.widget-menu-widget header > h1 > span.icon,
#layout-navigation .widget-menu-widget nav > ul > li > a > span.icon,
#layout-navigation .widget-menu-widget header > h1 > span.icon {
    border: 1px solid #fff;
}