@font-face {
    font-family: "Segoe UI Light";
    src: url("../Content/segoel-webfont.eot");
    src: local("☺"), url("../Content/segoel-webfont.woff") format("woff"), url("../Content/segoel-webfont.ttf") format("truetype"), url("../Content/segoel-webfont.svg#webfontN7iRJoLx") format("svg");
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

:focus {
    outline: 0;
}

ol, ul {
    list-style: none;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
}

caption, th, td {
    text-align: left;
}

    th.center, td.center {
        text-align: center;
    }

    th.right, td.right {
        text-align: right;
    }

blockquote:before, blockquote:after,
q:before, q:after {
    content: "";
}

blockquote, q {
    quotes: "" "";
}

header, footer, aside, nav, article {
    display: block;
}

body {
    font-family: "Segoe UI Light", sans-serif;
}

img {
    max-width: 100%;
    width: auto;
    max-height: 100%;
    height: auto;
}

h1, h2, h3, h4, h5, h6 {
    margin: 9px 0 9px 0;
}

h1 {
    font-size: 220%;
}

    h1:first-of-type {
        margin-top: 0;
    }

h2 {
    font-size: 190%;
}

h3 {
    font-size: 165%;
}

h4 {
    font-size: 140%;
}

h5 {
    font-size: 120%;
}

h6 {
    font-size: 100%;
}

    h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {
        margin: 0;
    }

li ul,
li ol {
    margin: 0 24px;
}

ul, ol {
    margin: 24px;
    line-height: 24px;
}

ul {
    list-style-type: square;
}

ol {
    list-style-type: decimal;
}

dl {
    margin: 0 0 24px 0;
}

    dl dt {
        font-weight: 400;
    }

dd {
    margin-left: 24px;
}

p {
    margin: 0 0 16px;
    line-height: 24px;
    word-wrap: break-word;
}

    p img.left {
        float: left;
        margin: 14px 14px 14px 0;
        padding: 0;
    }

    p img.right {
        float: right;
        margin: 14px 0 14px 14px;
    }

a:focus,
a:hover {
    text-decoration: none;
}

a {
    text-decoration: none;
}

blockquote {
    margin: 14px;
    padding-left: 14px;
    font-style: italic;
    line-height: 24px;
}

strong {
    font-weight: bold;
}

em, dfn {
    font-style: italic;
}

dfn {
}

sup, sub {
    line-height: 0;
}

abbr,
acronym {
    border-bottom: 1px dotted #666;
}

address {
    margin: 0 0 0.923em;
    font-style: italic;
}

del {
}

pre, code, tt {
    font: 1em 'courrier', 'lucida console', monospace;
    line-height: 24px;
}

pre {
    white-space: pre;
    font-size: 0.813em;
    padding: 10px;
    margin: 20px 0;
}

hr {
    height: 1px;
    border: none;
    margin: 20px 0 20px 0;
}

form {
    margin: 0;
    padding: 0;
}

legend {
    font-size: 1.231em;
    font-weight: 300;
    border: none;
}

fieldset {
    padding: 6px 0 0;
    margin: 0 0 12px 0;
    border: 0px solid #dbdbdb;
}

label {
    font-weight: 300;
    display: block;
    padding: 0 0 0.3em 0;
}

    label.forcheckbox {
        margin: 0 0 0 .4em;
        display: inline;
    }

    legend span,
    label span {
        font-weight: 300;
    }

    label input {
        vertical-align: text-top;
    }

.hint {
    display: block;
    font-size: 0.846em;
    margin-top: 3px;
    padding: 3px;
}

input[type="text"], input[type="password"], select, textarea {
    padding: 8px 10px 8px 10px;
    width: 250px;
}

select {
    height: 38px;
}

    select[multiple] {
        height: 150px;
        padding: 0;
    }

option {
    padding: 8px 10px 8px 10px;
}

textarea {
    width: 95%;
    font-family: "Segoe UI", sans-serif;
}

input[type="checkbox"] {
    background: #fff;
    border: none;
    padding: 0;
}

input[type="submit"],
input[type="button"] {
    border: none;
    padding: 8px 10px 8px 10px;
}

    input[type="submit"]:hover,
    input[type="button"]:hover {
        cursor: pointer;
    }

#topBar {
    margin: 5px auto;
}

#layout-header {
}

#branding {
    font-family: "Segoe UI Light";
    font-size: 400%;
    padding: 0;
    margin: 0;
    display: block;
}

    #branding img {
        float: left;
        margin: 0 10px 0 0;
    }

    #branding a {
        text-decoration: none;
    }

span#brandingDescription {
    float: left;
    display: block;
    line-height: 1.5;
    font-style: italic;
}

#layout-navigation {
    margin: 40px auto 40px auto;
}

    #layout-navigation .widget {
        margin: 0;
    }

nav ul {
    padding: 0px;
    margin: 0px;
}

    nav ul li {
        display: block;
        margin: 3px 0 3px 0;
    }

nav > ul li.current {
    font-weight: bold;
}

nav ul li a {
    padding: 3px;
    display: block;
    text-decoration: none;
    line-height: 24px;
}

#layout-navigation nav ul li {
    margin: 0;
}

    #layout-navigation nav ul li a {
        padding: 5px 18px 5px 18px;
    }

nav > ul > li:hover > ul {
    display: block;
}

nav > ul > li:hover {
}

#layout-navigation nav > ul > li {
    float: left;
}

    #layout-navigation nav > ul > li > a {
        float: left;
    }

nav > ul > li > ul {
    margin: 24px 0px 0px -1px;
    padding: 0px;
    display: none;
    position: absolute;
    border: 1px solid #dbdbdb;
}

    nav > ul > li > ul > li {
        list-style-type: none;
        margin: 0px;
        border: none;
    }

        nav > ul > li > ul > li > a {
            display: block;
            text-decoration: none;
        }

        nav > ul > li > ul > li:hover > a {
        }

        nav > ul > li > ul > li:hover > ul {
            display: block;
        }

        nav > ul > li > ul > li > ul {
            margin: -20px -1px 0px 90%;
            padding: 0px;
            display: none;
            position: absolute;
            border: 1px solid #dbdbdb;
        }

            nav > ul > li > ul > li > ul > li {
                list-style-type: none;
                margin: 0px;
                border: none;
            }

                nav > ul > li > ul > li > ul > li > a {
                    display: block;
                    text-decoration: none;
                }

                nav > ul > li > ul > li > ul > li:hover > a {
                }

            nav > ul > li > ul > li > ul ul {
                display: none;
            }

nav ul.breadcrumb {
    border: none;
    display: inline-block;
    margin: -9px;
}

    nav ul.breadcrumb li {
        border: none;
        background: none;
        display: block;
        margin: 0 2px -1px 0;
    }

        nav ul.breadcrumb li:after {
            content: "/";
        }

        nav ul.breadcrumb li.last:after {
            content: "";
        }

        nav ul.breadcrumb li a {
            padding: 0 9px;
            display: block;
        }

            nav ul.breadcrumb li a:hover {
                text-decoration: underline;
            }

#layout-tripel-container h1, #footer-quad-container h1 {
    font-size: 180%;
}

#layout-tripel-container h2, #footer-quad-container h2 {
    font-size: 160%;
}

#layout-tripel-container h3, #footer-quad-container h3 {
    font-size: 150%;
}

#layout-tripel-container h4, #footer-quad-container h4 {
    font-size: 135%;
}

#layout-tripel-container h5, #footer-quad-container h5 {
    font-size: 120%;
}

#layout-tripel-container h6, #footer-quad-container h6 {
    font-size: 100%;
}

.zone {
}

.zone-content {
    margin-bottom: 40px;
}

.credits {
    float: left;
    margin-bottom: 10px;
}

.user-display {
    float: right;
}

    .user-display .welcome {
    }

    .user-display .user-actions {
    }

.content-description {
    font-size: 1.154em;
}

.content-items {
    padding: 0;
    margin: 0;
    list-style: none;
}

    .content-items li {
        padding: 0;
        margin: 0;
    }

    .content-items .content-item {
    }

        .content-items .content-item header {
        }

            .content-items .content-item header h1 {
                font-size: 1.308em;
            }

                .content-items .content-item header h1 a {
                }

                    .content-items .content-item header h1 a:hover {
                    }

.tags {
    margin-top: 12px;
}

    .tags a {
        padding: 3px 6px;
        font-size: 0.875em;
    }

        .tags a:hover {
        }

.metadata {
    margin: 0 0 12px 0;
    font-size: 0.846em;
}

    .metadata .published {
        display: inline;
        margin: 0 6px 0 0;
    }

    .metadata .commentcount {
        display: inline;
    }

.meta {
}

#comments {
    margin: 24px 0 0 0;
    padding: 0;
}

.comment-form {
    margin: 24px 0 0 0;
    padding: 0;
}

    .comment-form .who ol,
    .comment-form .what ol {
        padding: 0;
        margin: 0;
    }

{
    padding: 0;
    margin: 0;
}

.comment-form .who ol li,
.comment-form .what ol li {
    list-style: none;
    list-style-type: none;
}

    .comment-form .what ol li button.primaryAction {
        margin-top: 20px;
        line-height: 1;
    }

.comments {
    margin: 0;
    padding: 0;
    list-style: none;
}

    .comments li {
        margin: 12px 0 0 0;
        padding: 12px;
    }

.comment {
    margin: 0;
    padding: 0;
}

    .comment h4 {
        font-size: 1.077em;
    }

    .comment .who {
    }

    .comment .what {
    }

    .comment #add-comment {
    }

.comment-form #comment-by {
    font-size: 1.231em;
    font-weight: normal;
    margin: 0 0 1.2em 0;
    border: none;
}

.comment-form #comment-text {
    width: 100%;
    width: 33.2em;
}

.comment-form input[type="text"] {
    width: 32em;
}

.comment-disabled {
}

.comment-count {
    font-size: 1.231em;
}

.blog-posts li {
    padding: 10px;
    margin-bottom: 20px;
}

.archives ul.archiveMonthList li.first {
    width: 100%;
}

.archives ul.archiveMonthList li {
    width: 100%;
    text-align: left;
    list-style: none;
}

    .archives ul.archiveMonthList li a {
        width: 100%;
        display: block;
        padding: 3px;
    }

        .archives ul.archiveMonthList li a:hover {
        }

    .archives ul.archiveMonthList li.last {
        width: 100%;
    }


.message, .validation-summary-errors {
    margin: 10px 0 4px 0;
    padding: 4px;
}

.messages a {
    font-weight: bold;
}

.message-Information {
    background: #e6f1c9;
    border: 1px solid #cfe493;
    color: #062232;
}

.message-Warning {
    background: #fdf5bc;
    border: 1px solid #ffea9b;
}

.critical.message, .validation-summary-errors, .message-Error {
    background: #ff0000;
    border: 1px solid #ff0000;
    color: #fff;
    font-weight: 400;
}

.tagged-posts li,
.search-results li {
    padding: 10px;
    margin-bottom: 20px;
}

.widgets {
}

.widget {
    margin-bottom: 20px;
}

    .widget h1 {
    }

.widget-control {
    position: relative;
    border: 1px dotted #5f97af;
}

    .widget-control .manage-actions {
        position: absolute;
        top: 0px;
        right: 0px;
    }

        .widget-control .manage-actions a {
            display: block;
            padding: 3px 6px;
        }

            .widget-control .manage-actions a:hover {
                text-decoration: none;
            }

.widget-aside-second > header > h1 {
    border-bottom: 1px solid #353535;
}

.content-control {
    border: 1px dotted #5f97af;
    overflow: auto;
    position: relative;
}

    .content-control .manage-actions {
        position: absolute;
        top: 0px;
        right: 0px;
    }

        .content-control .manage-actions a {
            display: block;
            padding: 3px 6px;
        }

            .content-control .manage-actions a:hover {
                text-decoration: none;
            }

.widget-search-form {
    width: 100%;
    margin-bottom: 10px;
}

    .widget-search-form #q {
        width: 95%;
    }

    .widget-search-form button {
        display: none;
    }

.pager {
    list-style: none;
    padding: 0;
    margin: 12px 0 0 0;
}

    .pager li {
        float: left;
        padding: 0 12px 0 0;
        margin: 0;
    }

    .pager a, .pager span {
        font-size: 1.077em;
        display: block;
        padding: 6px 6px;
    }

        .pager a:hover {
        }

    .pager span {
    }

aside ul.menu li.first {
}

aside ul.menu li {
    text-align: left;
}

    aside ul.menu li a {
        display: block;
    }

    aside ul.menu li a {
        padding-left: 0;
    }

        aside > div > article > nav > ul > li > a > span.icon {
            font-weight: bold;
            font-family: Consolas;
            margin-right: 2px;
            border: 1px solid #1ba1e2;
            display: inline-block;
            text-align: center;
            width: 24px;
            font-size: 90%;
            color: transparent;
            text-shadow: 0 0 0 #1ba1e2;
        }

        aside > div > article > header > h1 > span.icon {
            font-weight: bold;
            font-family: Consolas;
            margin-right: 6px;
            border: 1px solid white;
            display: inline-block;
            text-align: center;
            width: 41px;
            color: transparent;
            text-shadow: 0 0 0 white;
        }

        aside ul.menu li a:hover {
        }

    aside ul.menu li.last {
    }

.small {
    font-size: 0.615em;
    margin-bottom: 1.875em;
    line-height: 1.875em;
}

.large {
    font-size: 1.231em;
    line-height: 2.231em;
    margin-bottom: 1.25em;
}

.hide {
    display: none;
}

.quiet {
}

.loud {
}

.highlight {
    background: #ff0;
}

.added {
    background: #060;
    color: #fff;
}

.removed {
    background: #900;
    color: #fff;
}

.first {
    margin-left: 0;
    padding-left: 0;
}

.last {
    margin-right: 0;
    padding-right: 0;
}

.top {
    margin-top: 0;
    padding-top: 0;
}

.bottom {
    margin-bottom: 0;
    padding-bottom: 0;
}

.credits {
    float: left;
}

.user-display {
    float: right;
}

    .user-display .welcome {
    }

    .user-display .user-actions {
    }

.login-form {
    margin: 24px 0 0 0;
}

    .login-form ol {
        list-style: none;
    }

.well {
    padding: 20px;
}

.hero-unit {
    font-size: 18px;
    padding: 20px;
    margin-bottom: 20px;
}

    .hero-unit h1,
    .hero-unit h2,
    .hero-unit h3,
    .hero-unit h4,
    .hero-unit h5,
    .hero-unit h6 {
        margin-bottom: 5px;
        font-weight: bold;
    }

#layout-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

#layout-footer-container-wrapper {
    width: 100%;
}

#layout-footer-container {
    max-width: 1200px;
    margin: auto;
}

.col {
    border: 0px solid rgba(0,0,0,0);
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -moz-background-clip: padding-box !important;
    -webkit-background-clip: padding-box !important;
    background-clip: padding-box !important;
}

.row {
    margin-left: 0px;
}

.col {
    border-left-width: 0px;
    padding: 0 10px;
}

.row:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.zone:after, .widget-control:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

body {
    background: url('../Content/bg_body.png') #000 repeat-x;
    color: #fff;
}

pre {
    background: #555;
    border: 1px solid #777;
}

hr {
    color: #555;
    background-color: #555;
}

blockquote {
    border-left: 5px solid #555;
}

input[type="text"], input[type="password"], textarea, select {
    border: 2px solid #555;
    background: #222;
    color: #efefef;
}

input[type="text"], input[type="password"], textarea, select {
    padding: 8px;
}

    input:disabled, textarea:disabled {
        background: #3f3f3f;
    }

input[type="submit"]:disabled,
input[type="button"]:disabled {
    background: #3f3f3f;
}

th {
    font-weight: bold;
}

th, td {
    padding-top: 10px;
    border-right: 1px solid #4f4f4f;
    border-bottom: 1px solid #4f4f4f;
    padding: 8px;
}

tr {
    background: #3a3a3a;
    color: #fff;
}

    tr:nth-child(2n+1) {
        background: #333;
        color: #fff;
    }

th:last-child, td:last-child {
    border-right: 1px solid Transparent;
}

#layout-topBar {
}

#layout-navigation {
}

    #layout-navigation > div {
        background: #333;
        width: 100%;
    }

    #layout-navigation nav ul li.first {
    }

    #layout-navigation nav ul li {
        background: #333;
        border-bottom: 1px solid #4f4f4f;
    }

        #layout-navigation nav ul li:hover {
        }

        #layout-navigation nav ul li.current {
        }

        #layout-navigation nav ul li a {
            color: #fff;
        }

        #layout-navigation nav ul li.last {
            border-right: none;
        }

#layout-footer-container-wrapper {
    background: #353535;
    color: #fff;
}

aside ul.menu li {
}

.blog-posts li {
    background-color: #222;
    border: 1px solid #353535;
}

aside .archives ul.archiveMonthList li {
    border-bottom: 1px solid #353535;
}

.comments li {
    background: #0f0f0f;
    border: 1px solid #353535;
}

.tagged-posts li,
.search-results li {
    background: #0f0f0f;
    border: 1px solid #353535;
}

.well {
    background-color: #333;
    border: 1px solid #555;
}

#layout-wrapper > header {
    border-top: 3px solid #30add1;
}

a {
    color: #1ba1e2;
}

    a.btn {
        padding: 8px 10px 8px 10px;
        background: #1ba1e2;
        color: #fff;
    }

        a.btn:hover {
            padding: 8px 10px 8px 10px;
            background: #178dc7;
            color: #fff;
        }

input[type="submit"],
input[type="button"] {
    background: #1ba1e2;
    color: #fff;
}

    input[type="submit"]:hover,
    input[type="button"]:hover {
        background: #178dc7;
        color: #fff;
    }

.primaryAction {
    padding: 8px 10px 8px 10px;
    background: #1ba1e2;
    color: #fff;
    border: 1px solid #1ba1e2;
    cursor: pointer;
}

    .primaryAction:hover {
        padding: 8px 10px 8px 10px;
        background: #178dc7;
        color: #fff;
        border: 1px solid #178dc7;
    }

#layout-navigation nav ul li:hover,
#layout-navigation nav ul li.current {
    background: #1ba1e2;
}

    #layout-navigation nav ul li:hover a,
    #layout-navigation nav ul li.current a {
        color: #fff;
    }

.tags a {
    background: #1ba1e2;
    color: #fff;
}

    .tags a:hover {
        background: #178dc7;
    }

.pager a {
    background: #1ba1e2;
    color: #fff;
}

    .pager a:hover {
        background: #178dc7;
    }

.highlighted {
    background: #1ba1e2;
    color: #fff;
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
    padding: 1px;
}

.well {
}

.hero-unit {
    background-color: #1ba1e2;
    color: #fff;
}

    .hero-unit a {
        background: #178dc7;
        color: #fff;
        padding: 0 5px 0 5px;
        font-weight: bold;
    }

        .hero-unit a:hover {
            color: #178dc7;
            background: #fff;
        }

        .hero-unit a.btn,
        .hero-unit a.btn:hover {
            color: #fff;
            background: url('Blue/little-right-metro-arrow-white.png') right 8px Transparent no-repeat;
            padding: 0 25px 0 0;
            font-size: 22px;
            font-weight: bold;
        }

body {
    text-align: center;
}

#layout-wrapper {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

#layout-footer-container {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

#layout-tripel-container {
    clear: both;
}

.aside-1 #aside-first,
.aside-12 #aside-first {
    padding-right: 10px;
}

.aside-2 #aside-second,
.aside-12 #aside-second {
    padding-left: 10px;
}

.split-12 #footer-quad-container > div,
.split-13 #footer-quad-container > div,
.split-14 #footer-quad-container > div,
.split-23 #footer-quad-container > div,
.split-24 #footer-quad-container > div,
.split-34 #footer-quad-container > div,
.split-123 #footer-quad-container > div,
.split-124 #footer-quad-container > div,
.split-134 #footer-quad-container > div,
.split-234 #footer-quad-container > div,
.split-1234 #footer-quad-container > div {
    width: 100%;
}

@media screen and (min-width: 0px) and (max-width: 480px) {

    #topBar,
    #layout-header,
    #layout-navigation,
    #layout-before,
    #layout-featured,
    #aside-first,
    #layout-content,
    #aside-second,
    #layout-after-main,
    #tripel-first,
    #tripel-second,
    #tripel-third,
    #footer-quad-first,
    #footer-quad-second,
    #footer-quad-third,
    #footer-quad-fourth,
    #footer {
        width: 100%;
    }

        #layout-navigation nav ul li {
            float: none;
            margin: 0 0 1px 0;
        }

            #layout-navigation nav ul li a {
                float: none;
            }

    #layout-navigation {
        border: none;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {

    .col_1 {
        width: 8.33333333333%;
    }

    .col_2 {
        width: 16.6666666667%;
    }

    .col_3 {
        width: 25.0%;
    }

    .col_4,
    .aside-1 #aside-first,
    .aside-2 #aside-second {
        width: 32%;
    }

    .col_5 {
        width: 41.6666666667%;
    }

    .col_6,
    .tripel-12 #layout-tripel-container > div,
    .tripel-23 #layout-tripel-container > div,
    .tripel-13 #layout-tripel-container > div {
        width: 50.0%;
    }

    .col_7 {
        width: 58.3333333333%;
    }

    .col_8,
    .aside-1 #layout-content,
    .aside-2 #layout-content {
        width: 66.6666666667%;
    }

    .col_9 {
        width: 75.0%;
    }

    .col_10 {
        width: 83.3333333333%;
    }

    .col_11 {
        width: 91.6666666667%;
    }

    .col_12,
    #topBar,
    #layout-header,
    #layout-navigation,
    #layout-before,
    #layout-featured,
    #layout-content,
    #layout-after-main,
    .aside-12 #aside-first,
    .aside-12 #layout-content,
    .aside-12 #aside-second,
    #footer-quad-container > div,
    #footer {
        width: 100%;
    }

        #layout-navigation nav ul li {
            float: left;
            width: 50%;
            margin-bottom: 1px;
        }

            #layout-navigation nav ul li a {
                float: none;
            }

    #layout-navigation {
        border: none;
    }
}

@media screen and (min-width: 769px) and (max-width: 968px) {

    .col_1 {
        width: 8.33333333333%;
    }

    .col_2,
    .aside-12 #aside-first,
    .aside-12 #aside-second {
        width: 16.6666666667%;
    }

    .col_3,
    .split-1234 #footer-quad-container > div {
        width: 25.0%;
    }

    .col_4,
    .aside-1 #aside-first,
    .aside-2 #aside-second,
    .tripel-123 #layout-tripel-container > div,
    .split-123 #footer-quad-container > div,
    .split-124 #footer-quad-container > div,
    .split-134 #footer-quad-container > div,
    .split-234 #footer-quad-container > div {
        width: 33.3333333333%;
    }

    .col_5 {
        width: 41.6666666667%;
    }

    .col_6,
    .tripel-12 #layout-tripel-container > div,
    .tripel-23 #layout-tripel-container > div,
    .tripel-13 #layout-tripel-container > div,
    .split-12 #footer-quad-container > div,
    .split-13 #footer-quad-container > div,
    .split-14 #footer-quad-container > div,
    .split-23 #footer-quad-container > div,
    .split-24 #footer-quad-container > div,
    .split-34 #footer-quad-container > div {
        width: 50.0%;
    }

    .col_7 {
        width: 58.3333333333%;
    }

    .col_8,
    .aside-12 #layout-content,
    .aside-1 #layout-content,
    .aside-2 #layout-content {
        width: 66.6666666667%;
    }

    .col_9 {
        width: 75.0%;
    }

    .col_10 {
        width: 83.3333333333%;
    }

    .col_11 {
        width: 91.6666666667%;
    }

    .col_12,
    #topBar,
    #layout-header,
    #layout-navigation,
    #layout-before,
    #layout-featured,
    #layout-content,
    #layout-after-main,
    #footer {
        width: 100%;
    }

        #layout-navigation nav ul li {
            float: left;
            width: 33.3%;
            margin-bottom: 1px;
        }

            #layout-navigation nav ul li a {
                float: none;
            }

    #layout-navigation {
        border: none;
    }
}

@media screen and (min-width: 969px) and (max-width: 1024px) {

    .col_1 {
        width: 8.33333333333%;
    }

    .col_2,
    .aside-12 #aside-first {
        width: 16.6666666667%;
    }

    .col_3,
    .aside-1 #aside-first,
    .aside-2 #aside-second,
    .aside-12 #aside-second,
    .split-1234 #footer-quad-container > div {
        width: 25.0%;
    }

    .col_4,
    .tripel-123 #layout-tripel-container > div,
    .split-123 #footer-quad-container > div,
    .split-124 #footer-quad-container > div,
    .split-134 #footer-quad-container > div,
    .split-234 #footer-quad-container > div {
        width: 33.3333333333%;
    }

    .col_5 {
        width: 41.6666666667%;
    }

    .col_6,
    .tripel-12 #layout-tripel-container > div,
    .tripel-23 #layout-tripel-container > div,
    .tripel-13 #layout-tripel-container > div,
    .split-12 #footer-quad-container > div,
    .split-13 #footer-quad-container > div,
    .split-14 #footer-quad-container > div,
    .split-23 #footer-quad-container > div,
    .split-24 #footer-quad-container > div,
    .split-34 #footer-quad-container > div {
        width: 50.0%;
    }

    .col_7,
    .aside-12 #layout-content {
        width: 58.3333333333%;
    }

    .col_8 {
        width: 66.6666666667%;
    }

    .col_9,
    .aside-1 #layout-content,
    .aside-2 #layout-content {
        width: 75%;
    }

    .col_10 {
        width: 83.3333333333%;
    }

    .col_11 {
        width: 91.6666666667%;
    }

    .col_12,
    #topBar,
    #layout-header,
    #layout-navigation,
    #layout-before,
    #layout-featured,
    #layout-content,
    #layout-after-main,
    #footer {
        width: 100%;
    }

        #layout-navigation nav ul li {
            border-bottom: none;
        }
}

@media screen and (min-width: 1025px) {

    .col_1 {
        width: 8.33333333333%;
    }

    .col_2 {
        width: 16.6666666667%;
    }

    .col_3,
    .aside-1 #aside-first,
    .aside-2 #aside-second,
    .aside-12 #aside-first,
    .aside-12 #aside-second,
    .split-1234 #footer-quad-container > div {
        width: 25.0%;
    }

    .col_4,
    .tripel-123 #layout-tripel-container > div,
    .split-123 #footer-quad-container > div,
    .split-124 #footer-quad-container > div,
    .split-134 #footer-quad-container > div,
    .split-234 #footer-quad-container > div {
        width: 33.3333333333%;
    }

    .col_5 {
        width: 41.6666666667%;
    }

    .col_6,
    .aside-12 #layout-content,
    .aside-12 #layout-content,
    .tripel-12 #layout-tripel-container > div,
    .tripel-23 #layout-tripel-container > div,
    .tripel-13 #layout-tripel-container > div,
    .split-12 #footer-quad-container > div,
    .split-13 #footer-quad-container > div,
    .split-14 #footer-quad-container > div,
    .split-23 #footer-quad-container > div,
    .split-24 #footer-quad-container > div,
    .split-34 #footer-quad-container > div {
        width: 50.0%;
    }

    .col_7 {
        width: 58.3333333333%;
    }

    .col_8 {
        width: 66.6666666667%;
    }

    .col_9,
    .aside-1 #layout-content,
    .aside-2 #layout-content {
        width: 75.0%;
    }

    .col_10 {
        width: 83.3333333333%;
    }

    .col_11 {
        width: 91.6666666667%;
    }

    .col_12,
    #topBar,
    #layout-header,
    #layout-navigation,
    #layout-before,
    #layout-featured,
    #layout-content,
    #layout-after-main,
    #footer {
        width: 100%;
    }

        #layout-navigation nav ul li {
            border-bottom: none;
        }
}
